header nav {
	display: inline;


}

form {
display: table;


}
form .row{
display: table-row;
}
form label{
display: table-cell;


}
form input{
display: table-cell;
}
form input[type="submit"]{
column-span:all;

}
