<?php FlashMessage::display()?>

<form name="f_user" id="f_user" action="" method="post">
<fieldset>
<div class="row">
<label for="f_name"> Name </label>
<input type="text" name="object[user_name]" id="f_name" required/>
</div>
<div class="row">
<label for="f_Password"> Password </label>
<input type="password" name="object[password]" id="f_Password" required/>
</div>


<div class="row">
<input type="submit" value="login"/>
</div>
<input type="hidden" name="Action" value="login"/>
<input type="hidden" name="Control" value="user"/>
</fieldset>
</form>

